<a href="/bright_ideas">See All Bright Ideas</a>
<a href="/sessions">Logout</a>

	<h2>Name: <%= @user.name %></h2>
	<h2>Alias: <%= @user.alias %></h2>
	<h2>Email: <%= @user.email %></h2>


<p>Total Number of Posts: <%= @bright_ideas.count %></p>
<p>Total Number of Likes: <%= @likes.count %></p>
